.Line {
  height: $space-4;
  width: 100%;
  background-color: $primary;
}

.Panel {
  @include page-container;
  padding: $space-9 0 0;
}

.Panel-title {
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: $space-8;
}

.Panel-footer {
  padding: $space-6 0 $space-10;
}
