@import '../core.scss';
.Footer {
  padding: 36px 10%;
  background: #000;
  color: #fff !important;
  display: flex;
  justify-content: space-between;
}

.Footer-link {
  color: #fff;
  margin-left: 24px;
  vertical-align: super;
}

.Footer-icon {
  color: $primary;
  margin-left: $space-6;
  font-size: $space-6;
}
