.Repo {
  background-color: $background-1;
  border: 4px solid $border-color;
  padding: $space-8;
  margin: 22px;
  min-height: 148px;
}

.Repo-title {
  text-transform: uppercase;
  margin: 0;
}

.Repo-description {
  padding: $space-2 0;
  font-size: $font-md;
}

.Repo-icon {
  color: $light-text;
  text-transform: uppercase;
  padding-right: $space-9;
  align-items: center;
  display: inline-flex;
}

.Repo-label {
  margin-left: $space-3;
}
