// base typography
body {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $body-text-color;
  background-color: $body-background;
}

// link style

a {
  text-decoration: none;
  color: $body-text-color;
  &:hover {
    color: $primary;
  }
}

h1, h2, h3, h4 {
  font-family: $heading-font;
  letter-spacing: $space-1/2;
}